-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :method => :get, :id => 'ratings_form' do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, @is_chk[rating]=='1'
  = submit_tag 'Refresh', :id => 'ratings_submit'

%table#movies
  %thead
    %tr
      %th{:class => ('hilite' if params[:sort]=='title')}= link_to "Movie Title", movies_path(:sort => 'title'), :id => 'title_header'
      %th Rating
      %th{:class => ('hilite' if params[:sort]=='release_date')}= link_to "Release Date", movies_path(:sort => 'release_date'), :id => 'release_date_header'
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
